<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Direccion</title>
</head>
<body>
    <h1>Registrar Direccion</h1>
    <hr>
    <form method="POST">
        <label for="name">Calle</label>
        <input type="text" value="" name="street" required>
        <br>
        <label for="lastname">Numero</label>
        <input type="number" value="" name="house_num" required>
        <br>
        <label for="'email">Ciudad</label>
        <input type="text" value="" name="city" required>
        <br>
        <label for="passw">Estado</label>
        <input type="text" value="" name="state" required>
        <br>
        <label for="telephone">Pais</label>
        <input type="text" value="" name="country" required>
        <br>
        <label for="telephone">Codigo Postal</label>
        <input type="number" value="" name="zip_code" required>
        <br>
        <button type="submit" value="" name="agregar">Confirmar</button>
        <br>
    </form>
</body>
</html>